body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 50vw;
    justify-content: center;
    align-items: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-style: italic;
    font-weight: 200;
}